body {
  padding: 30px;
}

.image-button {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 55px;
  color: #000;
  text-align: right;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}

.blue {
  color: #007bff;
}

.active:hover {
  cursor: default;
}
